{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}

    <title>Awards-{{title}}</title>
    {% else %}
    <title>Awards</title>
    {% endif %}
    {% block styles %}
    {% bootstrap_css %}
  {% endblock %}
</head>
<body>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        {% include "navbar.html" %}
        {% block content %}  {%endblock%}
  
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %}
{% endblock %}  
</body>
</html>