{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load staticfiles %}
{{block.super}}
<br><br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="{{profile.profile_photo.url}}" alt="" width="150px" height="150px" class="rounded-circle">
      </div>
      <div class="col-md-6 col-sm-12">
      <div class="">
        <div class="">
          <b><p style="font-family: 'Metal Mania', cursive;">{{user.username}}</p></b>
        </div>
        <div class="button">
          <a href="{%url 'new-profile' user.id%}" style="border:1px solid lightgrey;border-radius:2px;color:black;text-decoration:none"><span style="font-family: 'Metal Mania', cursive;"> Edit</a></span>
        </div>
        <div class="cog" style="font-family: 'Metal Mania', cursive;">
          <i class="fa fa-cog"></i>
    
        </div>
      </div><br><br>
      <h2 style="font-family: 'Metal Mania', cursive;">Bio</h2>
    <p style="font-family: 'Metal Mania', cursive;">{{profile.bio}}</p>
    <h2  style="font-family: 'Metal Mania', cursive;">Contact</h2>
    <p>{{profile.contact}}</p>
      </div>
    </div>
    <br><hr>
    <div class="row">
      {%for post in posts%}
        
          <div class="card" style="width:18rem">
            <img src="{{post.image.url}}" alt="" width="100%">
          </div>


      {%endfor%}
    </div>
  </div>


{% endblock %}